.contact-bar {
    background-color: black;
    display: flex;
    padding:0rem 8rem
}

.contact-bar > div {
    display: flex;
    color: white;
    padding: 1rem 0.15rem;
}

.contact-bar > div > svg {
    margin: auto 0rem;
}

.contact-bar > div > p {
    margin: 0px;
    font-size: 14px;
    padding: 0rem 0.75rem;
}

@media only screen and (max-width: 1280px) {
    .contact-bar {
        padding: 0rem 5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .contact-bar {
        padding: 0rem 3rem;
    }
}

@media only screen and (max-width: 992px) {
    .contact-bar > div > p {
        font-size: 10px;
        padding: 0rem 0.5rem;
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {
    .contact-bar > div > svg {
        margin: auto 0rem;
        width: 12px;
        height: 12px;
    }

    .contact-bar {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

}
