.footer {
    padding: 2rem 8rem 0rem;
    background-color: #333333;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.footer > div > svg > path {
    fill: white;
}

.footer > div > svg > path:nth-child(2) {
    stroke: white;
}

.footer-quicklink, .footer-social-container  {
    text-align: left;
    margin: 1rem 0rem;
}

.footer-quicklink > div > a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 0.35rem;
}

.footer-quicklink > div > a:nth-child(1) {
    color: #F4811F;
}

.footer-title {
    font-size: 17px;
    font-weight: 600;
    margin: 0rem;
}

.footer-social {
    display: flex;
    padding: 1rem 0rem;
    /* justify-content: space-evenly; */
}

.footer-mobile {
    display: flex;
    text-align: left;
    margin: 1rem 0rem;
    gap: 12px;
}

.footer-small-logo {
    background-color: #FFCA05;
    border-radius: 4px;
}

.footer-small-logo > svg {
    height: 34px;
    width: 44px;
}

.footer-small-logo > svg > path {
    fill: black;
}

.footer-description {
    text-align: left;
}

.footer-social-container > div > p {
    margin: 0px;
    font-size: 14px;
}

.footer-mobile > div > p {
    font-size: 14px;
    margin: 0px;
}

.footer-description > p {
    font-size: 14px;
    margin: 0px;
    padding: 1rem 0rem;
}

.footer-quicklink > div {
    padding: 1.85rem 0rem;
}

.footer-social-container > div {
    padding: 1.5rem 0rem;
}

.footer-social > a {
    padding-right: 0.75rem;
}

.footer-download {
    display: flex;
    gap: 5px;
}

.footer-download > svg > path {
    stroke-width: 0.5px;
}

@media only screen and (max-width: 1280px) {
    .footer {
        padding: 2rem 5rem 0rem;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        padding: 2rem 3rem 0rem;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    .footer-title {
        font-size: 13px;
    }

    .footer-mobile > div > p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .footer-small-logo {
        height: 35px;
    }

    .footer-description > p {
        font-size: 10px;
    }

    .footer-quicklink > div > a {
        font-size: 10px;
    }

    .footer-social > a {
        padding-right: 0.5rem;
    }

    .footer {
        padding: 2rem 3rem 0rem;
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    }
}

@media only screen and (max-width: 768px) {

    .footer-quicklink > div {
        padding: 1.85rem 0rem 0rem;
    }

    .footer {
        padding: 2rem 3rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .footer-quicklink {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 2rem 2rem 2rem;
    }

    .footer-description {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .footer-social {
        display: flex;
        padding: 1rem 0rem;
        justify-content: center;
    }


    .footer-social-container {
        text-align: center;
    }

    .footer-download {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .footer-mobile {
        display: flex;
        gap: 12px;
        justify-content: center;
    }
}